@charset "UTF-8";


/*configuração global*/

:root{
   --cor01:rgb(0, 0, 0);
   --cor02:rgb(255, 214, 6);
   --cor03:rgb(101, 101, 101);
   --cor04:rgb(255, 255, 255);
   --cor05:red;

}

/*cabeçalho*/

header{
    background-color: var(--cor01);
    color: rgb(114, 114, 114);
    padding: 20px;
    margin: -10px;    
}

header > h1{
    font-size: 40px;
    text-align: left;
}

span{
    color: var(--cor02);
}

nav{
    background-color: var(--cor03);
    padding: 10px;
    margin: -10px; 
}

nav > a{
    color: var(--cor04);
    text-decoration: none;
    font-size: 25px;
    margin-left: 50px;
}

nav >a:hover{
    color: var(--cor05);
    text-decoration: underline;
    transition-duration: 1s;
}

body{
    background-image: url();
}
article{
    background-image: url();
    padding:100px;
}
