@charset "UTF-8";

@font-face {
    font-family: poema;
    src: url(font/Winter\ Deer.ttf);
    font-weight: normal;
    font-style: normal;
}

:root{
    --font1:Arial, Helvetica, sans-serif;
    --font2:poema;
}


*{
    margin: 0px;
    padding: 0px;
}

html,body{
    font-family: var(--font1);
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    font-variant: small-caps;
    padding: 50px;
    font-size: 8vw;
}
header > p{
    padding: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
header > a :hover,footer > a :hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--font2);
    font-size: 2.5vw;
}

section.normal{
    background-color: white;
    color: black;
}

section.img{
    background-color: rgb(47, 47, 47);
    color: white;
}

section.img > p{
    display: inline-block;
    width: 400px;
    padding: 6px;
    background-color: rgba(22, 22, 22, 0.768);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}