@charset "UTF-8";

body{
    background: black url(img/Design\ sem\ nome.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

div.img{
    margin-left: 30%;
}
img{
    border-radius: 100%;
}

main{
    padding: 30px;
    margin: 30px;
    margin: auto;
}

main >p{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-shadow: 2px 3px 40px  rgb(255, 0, 0);
    text-align: center;
}

h1{
    color: white;
    text-shadow: 2px 3px 40px  rgb(255, 0, 0);
    text-align: center;
}
p{
    color: white;
    font-size: 20px;
    text-shadow: 2px 3px 40px  rgb(255, 0, 0);
    text-align: center;
}
