@charset "UTF-8";   

@font-face {
    font-family:fontep ;
    src: url(../fontes/Green\ London.ttf) format('truetype');
    font-weight: normal;
    font-style:normal;
}

:root{
    --cor01:black;
    --cor02:white;
    --cor03:rgb(114, 114, 114);
    --cor04:rgb(255, 84, 84);
    --cor05:rgb(207, 207, 207);
    --cor06:#c6c6c6;
    --cor07:#025f79;
    --cor08:#4FC1E0;
    --cor09:#53CCED;
    --cor10:#46ACC7;

}

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: var(--cor01);
    padding: 5px;
    margin: 0px;
}

header > h1{
    color: var(--cor02);
    font-size: 30px;
    text-align: center;
    font-family: fontep,Arial, Helvetica, sans-serif;
}

nav{
    background-color: var(--cor03);
    padding: 10px;
    border-radius: 0px 0px 10px 10px;

}

nav > a{
    color: var(--cor02);
    text-decoration: none;
    text-shadow: 2px 2px 4px var(--cor01);
    font-size: 17px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px; 
}

nav > a:hover{
    text-decoration: underline;
    color: var(--cor04);
    font-size: 20px;
    transition-duration: 1s;
}

main{
    background-color: var(--cor06);
}

aside{
    background-color: var(--cor02);
    columns: 2;
    margin-bottom: 90px;
    

}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 20px;
}

aside > h1{
    font-size: 33px;
    font-family: fontep, Arial, Helvetica, sans-serif;
    
    transform: translate(-10px, -15px);
}

aside > p{
    transform: translate(-20px, -25px);

    text-align: justify;
    text-indent: 30px;
    font-weight: 600;
}

aside > a{
color: var(--cor01);
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
font-style: italic;

text-decoration: none;
text-align: center;
text-shadow: 1px 2px 2px var(--cor08);

margin-right: 30px;
}

aside > a:hover{
font-size: 18px;
 text-decoration: underline;
 transition: 0.5s;
}

div.formulario{
    margin: auto;
    padding: 30px;
    display: block;
}

form{
    background-color: rgb(170, 170, 170);
    border-radius: 40px 0px;
    box-shadow: 10px 5px 10px var(--cor01);
}

 form  > h1{
    color: var(--cor02);
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;

    text-align: center;
    text-shadow: 1px 2px 2px var(--cor01);
  
   
}

form > p{
    padding: 10px;
    margin-left: 100px;
}

label{
    font-size: 26px;
    font-weight: 700;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="text"], [type="email"]{
    width: 114px;
}

form > P > input{

   padding-right: 15px;
   transform: translate(0px, -3px);
}
.botao > input{
    padding: 5px;
    margin-left: 10%;

    width: 80px;
}
