    @charset "UTF-8";


/*configuração global*/

@font-face {
    font-family:letra ;
    src: url(fontes/letras.otf) format('truetype');
    font-weight: normal;
    font-style:normal;
}

@font-face {
    font-family:titulo;
    src: url(fontes/AGENTORANGE.TTF) format('truetype');
    font-weight: normal;
    font-style:normal;
}

@font-face {
    font-family:h1;
    src: url(fontes/Pepper\ Sauce.ttf) format('truetype');
    font-weight: normal;
    font-style:normal;
}

:root{
   --cor01:rgb(0, 0, 0);
   --cor02:rgb(6, 255, 255);
   --cor03:rgb(101, 101, 101);
   --cor04:rgb(255, 255, 255);
   --cor05:rgb(255, 149, 149);

}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background:white url(img/fundo1.jpg) no-repeat ;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

                                                   /*cabeçalho*/

header{
    background-image: linear-gradient(to right, rgb(0, 208, 255), rgb(182, 55, 255), rgb(255, 90, 236) );
    height: 130px;
}

header > h1{
    color: var(--cor01);
    font-family: titulo;
    font-size: 80px;

    text-align: center;
    padding: 10px;
}

span{
    color: var(--cor02);
}

nav{
    background-color: var(--cor03);
    padding: 10px;
}

nav > a{
    color: var(--cor04);
    text-decoration: none;
    font-size: 25px;
    margin-left: 50px;
}

nav >a:hover{
    color: var(--cor05);
    text-decoration: underline;
    transition-duration: 1s;
}


main{
    background-color: white;
    display: block;
    margin: auto;
    width: 500px;
    padding: 30px;
}

main > h1{
    margin-top: 20px; 
    margin-bottom: 20px; 
    font-family: h1;
    text-align: center;
}

main > hr{
    margin-top: 10px;
    border: 1px solid black;
}

main > p{
    text-indent: 20px;
    text-align: justify;
    font-family: letra;
    font-size: 15px;
    line-height: 25px;
}


